*{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    background-color: rgb(39, 38, 38);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-photo{
    width: 120px;
}

.menues{
    display: flex;
}

.item{
    margin-left: 10px;
    padding: 8px;
    font-size: 12px;
    cursor: pointer;
}

.item:hover{
    color: blue;
}

.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* border: 2px solid gray; */
    color: white;
    background-image: url("./images/background.png"), linear-gradient(45deg,rgb(0, 0, 0), rgb(20, 20, 20));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    font-size: 50px;
    font-weight: bold;
}

.description{
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;

}

.btn{
    padding: 10px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover{
    color: black;
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}

.about-title{
    text-align: center;
    padding-top: 20px;
}

.box{
    width: 200px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}

.icon{
    width: 70px;
}

.box-btn{
    /* background-color: gray; */
    margin: 10px;
}

.box-title{
   padding: 10px;
   /* margin: 10px; */
}

.box-description{
    padding: 5px;
}

.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
 
}

.background{
    background-color: rgb(22, 20, 20);
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-container{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 100px;
    list-style: none;
  
}

.para{
    padding: 5px;
    width: 150px;
    padding-top: 5px;
}

.item1{
    padding: 7px;
}

.header{
    padding-bottom: 5px;
}
.rights{
    color: white;
}