*{
    margin: 0px;
    padding: 0px;
}

.test{
    color: blue;
    cursor: pointer
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column-reverse; */
    height: 500px;
    border: 1px solid gray;
}



.box{
        padding: 20px;
        background-color: red;
        width: 120px;
        height: 120px;
}

.box2{
    background-color: green;
}

.box3{
    background-color: blue;
}